node_modules
dist
dist-ssr
*.local

# Логи
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Секреты и окружение
.env
.env.*
!.env.example

# Редакторы / ОС
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store

# Project exclude paths
/src/telegram.d.ts